.edit-container{
    width:250px;
  background-color: grey;
  display: flex;
  justify-content: center;

    .edit-form{
        display:flex;
        flex-direction: column;
        width:70%;
        

        input{
            margin:3%;
            color:black;
        }
        label{
            font-size:2rem;
        }
    }
}