.student-container{
    height:100%;
    width:100%;
    color:black;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    background-image: URL("https://library.kissclipart.com/20180901/wlq/kissclipart-high-school-hallway-cartoon-clipart-hall-cartoon-s-e94fcd1603ff60d8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    background-position: center;
    text-shadow:  1px 1px grey;
  
   
    .student-list-h1{
        color:yellow;
        background-color: whitesmoke;
        font-size: 8rem;
        
      
        
    }

    span{
       text-align: center;
       
    }

   

       
    

   
}

.filter{
    width:100%;
    display: flex;
    justify-content: center;
}

.alert{
    font-size:2.5rem;
    margin-top:5%;
    color:red;
    text-shadow: none;
}

label{
    margin-right:2%;
}