.student-container{
    height:100%;
    width:100%;
    color:black;
    font-size: 10rem;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin-left: 8%;

    h1{
        color:white;
        background-color: whitesmoke;
        font-size: 10em;
        
      
        
    }

    .student-list{
        margin:3%;
        border: 1px solid black;
        text-align: center;
       
        padding:3%;
    }
}