.footer-container {
  height: 10vh;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  align-items: center;

  footer {
    width: 15%;
  }
  h2 {
    font-size: 3rem;
    margin-left: 3%;
  }
  ul {
      margin-top:5%;
    display: flex;
    justify-content: space-between;
    
  }
}
